<!DOCTYPE html>
<html>
<head>
    <title>Atualizar Perguntas e Respostas</title>
</head>
<body>
    <h1>Atualizar Perguntas e Respostas</h1>
    
    <h2>Adicionar Nova Pergunta e Resposta</h2>
    <form action="/adicionar" method="post">
        <label for="pergunta">Pergunta:</label>
        <input type="text" id="pergunta" name="pergunta"><br>

        <label for="resposta">Resposta:</label>
        <input type="text" id="resposta" name="resposta"><br>

        <input type="submit" value="Adicionar">
    </form>

    

    <h1>Lista de Perguntas e Respostas</h1>
    <ul>
        <% for (let i = 0; i < perguntasERespostas.length; i++) { %>
            <li>
                Pergunta: <%= perguntasERespostas[i].pergunta %><br>
                Resposta: <%= perguntasERespostas[i].resposta %><br>
                <form action="/excluir" method="post">
                    <input type="hidden" name="perguntaParaExcluir" value="<%= perguntasERespostas[i].pergunta %>">
                    <input type="submit" value="Excluir">
                </form>
            </li>
        <% } %>
    </ul>

</body>
</html>
